nav a:link {color:#000000;
    background-color: rgb(101, 224, 222);
    padding:10px;
    margin-bottom: 30px; margin-right: 5px; margin-left: 5px;}
    nav a:hover {background-color:#faf2e5;}
    a:link {color: #000000}
    a:visited {color: #000000}
    a:hover{color: #1c0c5b;
    text-decoration-style: double;}  
    @media only screen and (max-width: 600px)
    {span {display: none}}
    @media only screen and (min-width: 600px)
    {.hamicon {display: none}}
    @media only screen and (max-width: 600px)
    {nav {display: none}}
    @media only screen and (min-width: 600px)
    {.navlank {display: block}}
    @media only screen and (max-width: 600px)
    {.steak, .nini, .gluten, .coldcut, .egg {display: none}}
    @media only screen and (max-width: 600px)
    {.buttons span {display: none}}
    @media only screen and (max-width: 600px)
    {.phonelink {display: block}}
    @media only screen and (min-width: 600px)
    {.phonelink {display: none}}
    @media only screen and (max-width: 600px)
    {body {font-size: 125%;}}
    @media only screen and (max-width: 600px)
    {.chef, .buttons, .phonelink, .familyinfo, .lower, .search {flex-wrap: wrap}}

    #skip {position: absolute; left: -999px; background-color: aquamarine;} 
    #skip:focus {left: 10px;}
    .header {max-width: 100%;}
    body {background-color: #DBF9FC;}
    .form {text-align: center; flex: 1; padding: 10px; background-color: rgb(58, 161, 160); border-radius: 1em;}
    h1 {color:darkblue; font-size:300%; text-align: center; font-family: 'Marck Script', cursive; word-spacing: -10px;}
    .jared {display: flex; flex: 1;margin-right: 15px; padding: 20px; background-color: rgb(58, 161, 160); border-radius: 1em;}
    .cheftext {font-size: 140%; float: right; }
    .chef {display: flex; padding: 20px; background-color: rgb(58, 161, 252); border-radius: 1em;}
    .buttons {display: flex; color: #DBF9FC}
    .nini, .steak, .coldcut, .gluten, .egg {margin-right: 15px; margin-left: 15px;}
    .steak, .b7, .b8, .b9, .b10, .b11 {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center; cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥩</text></svg>") 16 0,auto; /*!emojicursor.app*/}
    .egg, .b10 {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center;cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍳</text></svg>") 16 0,auto; /*!emojicursor.app*/}
    .gluten, .b11 {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center;cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍲</text></svg>") 16 0,auto; /*!emojicursor.app*/}
    .coldcut, .b9 {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center;cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🥪</text></svg>") 16 0,auto; /*!emojicursor.app*/}
    .nini, .b8 {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center;cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🫔</text></svg>") 16 0,auto; /*!emojicursor.app*/}
    .lower {display:flex}
    .space {background-color: #DBF9FC ; flex: 1}
    /*.lowerchef {display:flex; padding: 20px; background-color: rgb(58, 161, 252); border-radius: 1em; justify-content: space-around;}
    .fam {margin-left: 15px; padding: 20px; background-color: rgb(58, 161, 160); border-radius: 1em; flex:1; width: 100%}
    .lowcheftext {font-size: 140%; float: left; text-align: justify;}
    .agh {font-size: max(20px);}*/
    footer {text-align: center;} 
    .tipsclickable {display: flex; justify-content: space-around;}
    #tip2text, #tip3text, #tip4text, #tip5text, #tip6text {display: none;}
    .tipmage {width:50%; justify-content: center; padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;}
    .clicknumber {text-align: center;}
    .shopitem {display: flex; justify-content: space-around;}
    .shopitem div {margin-right: 15px; margin-left: 15px;}
    .ragus {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center;}
    .steakimg {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center;}
    .rice {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1; text-align: center;}
    span {color: #DBF9FC;}
    body {
        font-family: Arial;
        margin: 0 auto; /* Center website */
        max-width: 800px; /* Max width */
        padding: 20px; line-height: 130%;
      }
      @media only screen and (max-width: 600px)
    {.tipsclickable {display: flex};}
    @media only screen and (max-width: 600px)
    {.tipsclickable {justify-content: center;}}
    .ratingheading {color:#000000}
    .servingsize {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;flex: 1;}
    .steakqualm {display: flex; justify-content: space-around;}
    #modal {display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */}
        #moda {background-color: rgb(101, 224, 222);
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        border-radius: 2em;
        width: 20%; /* Could be more or less, depending on screen size */
      }
        .buttonrate {
        background-color: rgb(101, 224, 222);
        cursor: pointer;
        padding: 5px; border-radius: 1em
        }
        body {width: 800px; margin: 0 auto; position: relative; justify-content: space-around;}
        #close {
            color: white;
        
            font-size: 28px;
            font-weight: bold;
          }
          
          #close:hover,
          #close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
          }
          .warning {font-size: 12px; color: rgb(109, 1, 1);}
          
          .familyinfo {display: flex; padding: 20px; background-color: rgb(58, 161, 252); border-radius: 1em;}
          .fampic {padding: 20px; background-color: rgb(58, 161, 160); border-radius: 1em; float: right;height: auto;}
          .textfam {margin-right: 15px; float: left;}

        .sandy, .Saporo, .riceram, .steakyum {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;justify-content: center; padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em;
          }
          .tipmage {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
          }
          .vidtext {padding: 10px; background-color: rgb(101, 224, 222); border-radius: 1em; display: block;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;}
            
            .vid {margin-left: 95px;}
            .modaltext {font-family: 'Courier New', Courier, monospace;}
            .search {margin-right: 75px;}

            @keyframes example {
              0%   {background-color: rgb(255, 160, 160);}
              25%  {background-color: rgb(101, 224, 222);}
              50%  {background-color: #c4f6fa ;}
              75% {background-color: rgb(160, 255, 160);}
              100% {background-color: rgb(255, 160, 160);}
            }
            
            /* The element to apply the animation to */
            .buttonrate, .steak, .egg, .gluten, .coldcut, .nini, .b7, .b8, .b9, .b10, .b11 {
              
              animation-name: example;
              animation-duration: 4s;
              animation-iteration-count: infinite}