body {color: blueviolet}
p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:cadetblue;
    font-size: 125%}

h1 {color:darkcyan; letter-spacing: 1.5em; word-spacing: 1.5em}
p, h1 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p a {color:darkorchid}
