body {color: rgb(43, 226, 125)}
p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:cadetblue;
    font-size: 125%}

h1 {color:darkcyan; letter-spacing: 1.5em; word-spacing: 1.5em; font-size: 2em;}
h2 {color:darkcyan; letter-spacing: 1.5em; word-spacing: 1.5em; font-size: .5em;}
p, h1, h2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
p a {color:rgb(50, 194, 204)}

tbody tr:nth-child(even){background-color: #A020F0}
